<mat-toolbar>Registro de consulta</mat-toolbar>

<div class="example-container">

    <mat-form-field>
        <mat-select placeholder="Paciente" [(value)]="idPacienteSeleccionado">
            <mat-option *ngFor="let p of pacientes" [value]="p.idPaciente">
                {{p.nombres }} {{p.apellidos}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Especialidad" [(value)]="idEspecialidadSeleccionada">
            <mat-option *ngFor="let e of especialidades" [value]="e.idEspecialidad">
                {{e.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Médico" [(value)]="idMedicoSeleccionado">
            <mat-option *ngFor="let m of medicos" [value]="m.idMedico">
                {{m.nombres }} {{m.apellidos}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" [(ngModel)]="fechaSeleccionada" [max]="maxFecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field>
        <input matInput placeholder="Diagnóstico" [(ngModel)]="diagnostico">
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Tratamiento" [(ngModel)]="tratamiento"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="agregarDetalle()">Agregar Detalle</button>

    <mat-accordion>
        <mat-expansion-panel *ngFor="let d of detalleConsulta; let i=index">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{i+1}} {{d.diagnostico}}
                </mat-panel-title>
                <mat-panel-description>
                    Ver Tratamiento
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <textarea matInput placeholder="Tratamiento" value="{{d.tratamiento}}"></textarea>
                <button mat-raised-button color="warn" (click)="removerDetalle(i)">Remover</button>
            </mat-form-field>
            
        </mat-expansion-panel>
    </mat-accordion>

    <mat-form-field>
        <mat-select placeholder="Examen" [(value)]="idExamenSeleccionado">
            <mat-option *ngFor="let e of examenes" [value]="e.idExamen">
                {{e.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="agregarExamen()">Agregar Examen</button>

    <mat-toolbar *ngFor="let exs of examenesSeleccionados; let i = index">
        {{exs.nombre}}
        <span class="example-spacer"></span>
        <button mat-raised-button color="warn" (click)="removerExamen(i)">Remover</button>
    </mat-toolbar>

    <button mat-raised-button color="primary" (click)="aceptar()" [disabled]="estadoBotonRegistrar()">Registrar</button>

</div>